button {
       background: white;
       web-transition: background 1.5s;
}

button:hover {
        background: red;
}

body{
     background-color: red;
     transition-property: background-color;
     transition-duration: 1.5s;

}
body:hover{
  background-color: blue;
}
