#sidemenu{
    position:fixed;
    left: 0;
    width: 150px;
    padding: 10px;
}

#main{
    position: absolute;
    right: 0;
    width: 50%;
    padding: 10px;
}

#status-overview,thead,tbody,th,tr,td{
    border: 1px solid;
    border-collapse: collapse;
}

thead{
    background-color: cornflowerblue;
}

a:hover{
    color:darkviolet;
}

a:active{
    color:red;
}

a:link{
    color:olivedrab;
}

html{
    background: cadetblue;
}