#sidemenu{
    display:inline;
    position:fixed;
    left: 0;
    width: 20%;/*vom ganzen bodymaß*/
    height:auto;
}

#main{
    position: absolute;
    display:inline;
    right: 0px;
    width: 80%;
}

#status-overview,thead,tr{
    border: 1px solid;
    border-collapse: collapse;
    width: 70%;/*von 100-20%sidemenu=80% und von den 80%, 70%*/

}



thead{
    background-color: cornflowerblue;
    text-align: right;
}
.spalten{
text-align: right;
/*http://www.pepe-juergens.de/2013/01/css3-transitions-hover-effekte/*/
}
tbody tr:hover{
  background: #7cFc00;/*lawngreen*/
  color: black;
  -webkit-transition: all 0.1s;
}

a:hover{
    color:#7cFc00;/*lawngreen*/
}

a:active{
    color:red;
}

a:link{
    color:olivedrab;
}

html{
  background: url("http://newflowerwallpaper.com/download/lotus-flower-images-and-wallpapers/lotus-flower-images-and-wallpapers-11.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
