#sidemenu{
    display:inline;
    position:fixed;
    left: 0;
    width: 20%;
    height:auto;
}

#main{
    position: absolute;;
    display:inline;
    right: 0px;
    width: 80%;




}

#status-overview,thead,tbody,th,tr,td{
    border: 1px solid;
    border-collapse: collapse;
}

thead{
    background-color: cornflowerblue;
}

a:hover{
    color:orange;
}

a:active{
    color:red;
}

a:link{
    color:olivedrab;
}

html{
    background-image: url("http://newflowerwallpaper.com/download/lotus-flower-images-and-wallpapers/lotus-flower-images-and-wallpapers-11.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
